body {
background-color: #FFF;
background-image: url('../images/bg.jpg');
background-repeat: repeat-x;
margin:0;
padding:0;
}

p {
font-family: 'Khmer OS Classic', arial, sans-serif; 
font-weight: normal;
font-style: normal; 
line-height: 1.6;
font-size: 1em;
}

header {
overflow: hidden;
}

header img {
/* 90px images*/
height: 13%;
position: absolute;
}

#wrapper {
margin-left: auto;
margin-right: auto;
width: 67.86486%;
}

/*--------- slogan -----------*/

#slogan {
color: #fff;
/* 90px */
margin-top: 9.375%;
font-family: 'Teleindicadores 1', arial, sans-serif;
font-weight: normal;
font-style: normal; 
}

section {
margin-top: 80px;
width: 54.166666666667%;
background: url('../images/look.png') repeat-x;
box-shadow: 0 0 2px #222;
padding: 8px;
text-indent: 20px;
text-align: left;
}

section h2 {
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal;
text-indent: 20px;
}

article {
width: 100%;
margin-top: 60px;
}

article h1 {
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal;
background-color: #efa100;
color: white;
width: 250px;
text-align: center;
padding: 5px;

}

article p {
-moz-column-count:3; 
-webkit-column-count:3;
column-count:3;
-moz-column-gap:40px; 
-webkit-column-gap:40px; 
column-gap:40px;
column-width:200px;
-moz-column-width:200px; 
-webkit-column-width:200px; 
}

article a {
color: #D69613;
}

article header {
background: none;
}

article header p {
margin-top: -20px;
text-align: left;
}

/*---------- Navigation Start --------- */

.nav {
float: right;
margin-top: -68px;
}

.nav li{
display: inline;
margin-left: 60px;
overflow: hidden;
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal; 
text-shadow: 1px 1px 2px #D9D9D9;
list-style-type:circle;

}

.nav a {
color: #efa100;
font-size: 24px;
text-decoration: none;
}

.nav a:visited {
color: #efa100;
}

.nav a:hover {
color: #fff;


}

/*------side bar with testimonials------ */ 

aside {
float: right;
width: 40.22989%;
color: #333;
margin-top: 80px;

}

aside p {
padding: 8px;
background-color: rgba(235,196,26,0.3);
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-bordr-radius: 8px;
}

aside h3 {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

aside p {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

/* --------- gallery --------- */

#gallery {
display: inline;
/* -25px */
margin-left: -8%;
}

#gallery li {
display: inline;
}

#gallery li img {
width: 60px;
height: 60px;
opacity: 0.8;
}

#gallery li img:hover {
opacity: 1;
}


/*-------- footer ------------ */

footer {
background-color: #000;
color: #fff;
height: 80px;
border-radius: 6px;
}

footer p {
/* 30px */
padding: 3%;
color: #f1b53b;
}

/* ------ Sign up Button --------------- */


    .myButton {
    	/* 110px; */
    	margin-left: 20%;
        
        -moz-box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
        background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);
        */
        background-color:#fbb450;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #c97e1c;
        
        display:inline-block;
        color:#ffffff;
        font-family:Trebuchet MS, arial, sans-serif;
        font-size:1.750em;
        font-weight:bold;
        padding: 3% 4%;
        text-decoration:none;
        
        text-shadow:1px 1px 2px #8f7f24;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
        background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);
        */
        background-color:#f89306;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

/* media queries */

@media screen and (min-width: 768px) and (max-width: 959px) {
	
	body {
	background-color: blue;
	}
	
	#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}
	


.nav a:visited {
color: #efa100;
}

.nav a:hover {
color: #fff;
}

/*----------- aside -------------*/


aside {
float: right;
width: 38.22989%;
color: #333;
/*80px*/
margin-top: 8.342022940563%;

}

aside p {
padding: 8px;
background-color: rgba(235,196,26,0.3);
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-bordr-radius: 8px;
}

aside h3 {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

aside p {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}





/* --------- gallery --------- */

#gallery {
display: inline;
/* -25px */
margin-left: -8%;
}

#gallery li {
display: inline;
}

#gallery li img {
width: 40px;
height: 40px;
opacity: 0.8;
}

#gallery li img:hover {
opacity: 1;
}

	
	
	
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
	background-color: orange;
	
	}
	
	#wrapper {
	width: 100%;
	}
	
	#slogan {
		display: none;
	}
	
	.nav {
		/*120px*/
		margin-top: 15.645371577575%;
		width: 100%;
		background-color: black;
		text-align: center;
		margin: 19.645371577575% 0;
	}
	
	
aside {
display: none;
}

section {
width: 90%;
margin-top: -90px;
}

article h1 {
padding: 15px;
}

article p {
-moz-column-count:1; 
-webkit-column-count:1;
column-count:1;
padding: 15px;
}
	
}


@media only screen and (max-width: 479px) {
	body {
	background-color: #fff;
	}
	
	#wrapper {
	width: 68%;
	}
	
	#slogan {
	display: none;
	}
	
	nav {
	/*150px*/
	margin-top: 60%;
	text-align: left;
	}
	
	nav ul li{
		width: 100%;
		font-size: 3em;
		padding: 7% 0;
		border-bottom: 1px double #222;
	}
	
	header nav {
	padding-top: 26.19624217119%;
	float: right;
	width: 100%;
	/* 50px */
	background-color: black;
	border-radius: 7px;
	
	}
	
	aside {
	display: none;
	}
	
	section {
	width: 100%;
	}
	
	
	.myButton {
	/* 30px */
	margin-left: 18%;
	}
	
	article {
		font-size: 1.000em;
	}
	
	footer {
		font-size: 0.750em;
		height: 40px;
		text-align: center;
	}
	
}













