body {
background-color: #FFF;
background-image: url('../images/bg.jpg');
background-repeat: repeat-x;
margin:0;
padding:0;
}

p {
font-family: 'Khmer OS Classic', arial, sans-serif; 
font-weight: normal;
font-style: normal; 
line-height: 1.6;
font-size: 1em;
}

header {
overflow: hidden;
}

header img {
/* 90px images*/
height: 13%;
position: absolute;
}

#wrapper {
margin-left: auto;
margin-right: auto;
width: 67.86486%;
}

/*--------- slogan -----------*/

#slogan {
color: #fff;
/* 90px */
margin-top: 9.375%;
font-family: 'Teleindicadores 1', arial, sans-serif;
font-weight: normal;
font-style: normal; 
}

section {
margin-top: 80px;
width: 54.166666666667%;
background: url('../images/look.png') repeat-x;
box-shadow: 0 0 2px #222;
/* 8px */
padding: 0.833333333333%;
text-align: left;
}

section p {
text-indent: 2%;
}

section p .myButton {
text-indent: 0;
}

section h2 {
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal;
text-indent: 8%;
}

article {
width: 100%;
margin-top: 6.25%;
}

article h1 {
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal;
background-color: #efa100;
color: white;
width: 26.041666666667%;
text-align: center;
padding: 5px;

}



article p {
-moz-column-count:3; 
-webkit-column-count:3;
column-count:3;
-moz-column-gap:40px; 
-webkit-column-gap:40px; 
column-gap:40px;
column-width:200px;
-moz-column-width:200px; 
-webkit-column-width:200px; 
}

article a {
color: #D69613;
}

article header {
background: none;
}

article header p {
margin-top: -20px;
text-align: left;
}

/*---------- Navigation Start --------- */

.nav {
float: right;
margin-top:-7.083333333333%;
}

.nav li{
display: inline;
margin-left: 60px;
overflow: hidden;
font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal; 
text-shadow: 1px 1px 2px #D9D9D9;
list-style-type:circle;
float: left;
}

.nav a {
color: #efa100;
font-size: 1.5em;
text-decoration: none;
}

.nav a:visited {
color: #efa100;
}

.nav a:hover {
color: #fff;


}

/*------side bar with testimonials------ */ 

aside {
float: right;
width: 40.22989%;
color: #333;
margin-top: 80px;

}

aside p {
padding: 8px;
background-color: rgba(235,196,26,0.3);
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-bordr-radius: 8px;
}

aside h3 {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

aside p {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

/* --------- gallery --------- */

#gallery {
display: inline;
/* -25px */
margin-left: -8%;
}

#gallery li {
display: inline;
float: left;
}

#gallery li img {
width: 60px;
height: 60px;
opacity: 0.8;
}

#gallery li img:hover {
opacity: 1;
}


/*-------- footer ------------ */

footer {
background-color: #000;
color: #fff;
height: 80px;
border-radius: 6px;
}

footer p {
/* 30px */
padding: 3%;
color: #f1b53b;
}

/* ------ Sign up Button --------------- */


    .myButton {
    	/* 110px; */
    	margin-left: 20%;
        
        -moz-box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        box-shadow:inset 0px 1px 1px 0px #ffe0b5;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
        background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);
        */
        background-color:#fbb450;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #c97e1c;
        
        display:inline-block;
        color:#ffffff;
        font-family:Trebuchet MS, arial, sans-serif;
        font-size:1.750em;
        font-weight:bold;
        padding: 3% 4%;
        text-decoration:none;
        
        text-shadow:1px 1px 2px #8f7f24;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
        background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);
        */
        background-color:#f89306;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
    

	
/*---------- week 4 ----------*/	 

	#customer_section {
	background-color: orange;
	overflow: auto;
	text-align: center;
	border: 3px solid #000;
	font-family: 'Comfortaa', arial, sans-serif;
font-weight: normal;
font-style: normal;
	}  
    
    #contact {
    	float: right;
    	padding: 15px;
    	background-color: #FFDD8C;
    	border-left: 1px solid #000;
    }
    
    
    
    #sign_up {
    	padding: 10px;
    	
    }
    
    #sign_up th{
    	font-size: 1.5em;
    }
    
    #sign_up td {
    	font-size: 1.1em;
    }
    
    #sign_up img {
    height: 40px;
    }
    
    .form_data {
    padding: 5px;
    }
    
    input {
    height: 32px;
    width: 200px;
    font-size: 1.1em;
    }
    
    input:focus {
    background-color: #F2F2F2;
    border: 2px solid #000;
   -moz-box-shadow: inset 0 0 2px 2px #888;
-webkit-box-shadow: inset 0 0 2px 2px#888;
box-shadow: inset 0 0 2px 2px #888;
    }
    
   
    
    select {
    height: 32px;
    font-size: 1.1em;
    width: 200px;
    }
    
    textarea {
    width: 200px;
    height: 150px;
    }
    
    #sign_up h2 { 
    text-align: left;
    }
    
    #sign_up tr{
    	width: 300px;
    }
    
    .basic{
    	background-image: url('../images/basic.png');
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 55%;
    	width: 200px;
    	text-align: center;
    }
    
    .premium {
    	background-image: url('../images/premium.png');
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 55%;
    	width: 100px;
		text-align: center;
		font-family: 'Comfortaa', arial, sans-serif;
		font-weight: bold;
		font-style: normal;
		color: #fff;
	}
	
	 .sponsor {
    	background-image: url('../images/sponsor.png');
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 55%;
    	width: 100px;
		text-align: center;
		font-family: 'Comfortaa', arial, sans-serif;
		font-weight: bold;
		font-style: normal;
		color: #fff;
	}

	.price {
	background-color: #fff;
	width: 300px;
	}
	
	table {
		border-collapse: collapse;
		border: 3px solid black;
		width: 60%;
		margin-left: 60px;
	}
	
	th {
		background-color: #fff;
		border: 2px solid #000;
		padding: 5px;
	}
	
    
    td {
    	border: 2px solid black;
    	padding: 0.5em;
    	background-color: #fff;
    }
    

/* media queries */

@media screen and (min-width: 768px) and (max-width: 959px) {
	
	body {
	background-color: #fff;
	}
	
	#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	}
	


.nav a:visited {
color: #efa100;
}

.nav a:hover {
color: #fff;
}

/*----------- aside -------------*/


aside {
float: right;
width: 38.22989%;
color: #333;
/*80px*/
margin-top: 8.342022940563%;
margin-right: 4%;

}

aside p {
padding: 8px;
background-color: rgba(235,196,26,0.3);
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-bordr-radius: 8px;
}

aside h3 {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}

aside p {
font-family: 'Gentium Basic', arial, sans-serif;
   font-weight: bold;
   font-style: normal; 
}





/* --------- gallery --------- */

#gallery {
display: inline;
/* -25px */
margin-left: -8%;
}

#gallery li {
display: inline;
}

#gallery li img {
width: 40px;
height: 40px;
opacity: 0.8;
}

#gallery li img:hover {
opacity: 1;
}

	
article h2 {
margin-left: 4%;
}

article p {
margin-left: 4%;
margin-right: 4%;
}	
	
	
section {
margin-left: 4%;
width: 50.166666666667%;
}	
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
	background-color: #fff;
	
	}
	
	#wrapper {
	width: 100%;
	}
	
	#slogan {
		display: none;
	}
	
	.nav {
		/*120px*/
		margin-top: 15.645371577575%;
		width: 100%;
		background-color: black;
		text-align: center;
		margin: 19.645371577575% 0;
	}
	
	
aside {
display: none;
}

section {
width: 90%;
margin-top: -90px;
margin-left: 4%;
}

article h1 {
padding: 15px;
}

article h2 {
margin-left: 8%;
}

article p {
-moz-column-count:1; 
-webkit-column-count:1;
column-count:1;
padding: 1.955671447197%;
margin-left: 4%;
margin-right: 4%;
}

#contact {
float: left;
width: 100%;
}

#contact input {
width: 400px;
}

#contact select {
width: 400px;
}

#contact textarea {
width: 400px;
}

#sign_up{
display: none;
}

table  {
margin: 0;
}
	
}


@media only screen and (max-width: 479px) {
	body {
	background-color: #fff;
	}
	
	#wrapper {
	width: 68%;
	}
	
	#slogan {
	display: none;
	}
	
	nav {
	/*150px*/
	margin-top: 50%;
	text-align: left;
	}
	
	nav ul li{
		width: 100%;
		font-size: 1.5em;
		border-bottom: 1px double #222;
	}
	
	header nav {
	padding-top: 26.19624217119%;
	float: right;
	width: 100%;
	/* 50px */
	background-color: black;
	border-radius: 7px;
	
	}
	
	aside {
	display: none;
	}
	
	section {
	width: 100%;
	}
	
	
	.myButton {
	/* 30px */
	margin-left: 18%;
	}
	
	article {
		font-size: 1.000em;
	}
	
	footer {
		font-size: 0.750em;
		height: 40px;
		text-align: center;
	}
	
	#contact {
	width: 100%;
	}
	
	#sign_up {
	display: none;
	}
	
}













